html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  color: inherit;
}

p{
  margin: 0;
  padding: 0;
}

body{
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #787878;
  @extend %nunito;
  font-size: 16px;
  line-height: 24px;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 0;
}

.btn{
  text-transform: uppercase;
  color: #ffffff;
  background-color: $active;
  padding: 15px 35px;
  font-size: 12px;
  transition: 0.5s;
  &:hover{
    background-color: #787878;
  }
}

.title{
  text-align: center;
  @extend %montserrat;
  font-size: 30px;
  line-height: 60px;
  color: #191919;
  margin-bottom: 30px;
}

.text{
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}